<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Luigi's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/luigi_resized.png" alt="luigi profile picture"></td>
        <td><h1>Luigi Schmitt</h1>
        <p><em>Student at <strong><a href="https://www.ufpb.br/">Universidade Federal da Paraíba</a></strong>.</em></p>
        <p>I am a Computer Science Student. I love Coding and Math! 😃</p></td>
      </tr>
    </table>
    <hr>
    <h3>About me</h3>
    <ul>
        <li>I was accepted at University of Sao Paulo - USP</li>
		<li>I am member of Technology and AI League - TAIL</li>
		<li>I am doing 100 Days of Code - The Complete Python Bootcamp</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Date</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024-present</td>
          <td>Researcher at TRIL LAb</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>Python Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
